@import "./variables-functions";

header {
    background: $header-background;
    padding: 4vw;
}

main {
    @include flexFactory(column);
    height: 100vh;
    background-color: $main-backgroundcolor;
    align-items: flex-start;
    padding-left: 100px;
}

/* jmf tidigare
section {
    @include flexFactory(column);
    background-color: $section-backgroundcolor;
    height: 100vh;
    flex-wrap: wrap;
    justify-content:flex-end;
}

med hur extensions kan överföras (och överskrivas) */

section {
    @extend main;
    background-color: $section-backgroundcolor;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer {
    @include flexFactory(column);
}