/* Overall styling */

* {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    margin: 4vw 2vw 0 2vw;
    color: rgb(44, 44, 44);
}

ol {
    margin: 1vw 2vw 0 2vw;
}

p {
    margin: 2vw;
}

/* navigation */

nav {
    margin-bottom: 2rem;
}

ul.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cadetblue;
}

li.menu-li {
    float: left;
}

li.menu-li a {
    display: block;
    padding: 2vw;
    color: ivory;
    text-decoration: none;   
}

li.menu-li a:hover {
    background-color: gray;
}

/* start-page boxes */

.gallery-container {
    margin: 2vw;
    padding: 5vw;
    background-color: rgb(236, 236, 236);
    border: 1px solid lightgrey;
    box-shadow: 1vw 1vw 1vw rgba(57, 57, 57, 0.2);
}

ul.image-gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; /* använd första gången */
  gap: 10px;
}

.image-gallery > li {
  flex-grow: 1; /* använd andra gången för att få bilerna att fylla tomrum vid aspect ratio */
  list-style-type: none;
  /* flex-basis: 25vw; /* använd flex-basis första gången, för widht) */
  height: 300px;
  position: relative;
  cursor: pointer; /* lägg till hand för musen */
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

/* använd första gången, som fix. Ta bort andra gången för att visa styrkan med flex-grow (rad 68)
.image-gallery::after {
    content: "";
    flex-basis: 25vw;
}

*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery li:hover .overlay {
    transform: scale(1);
}

#company-text {
    color: rgb(62, 83, 97);
}

    /* semantic layout-element */

section.body {
    margin-bottom: 24vw;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article {
    float: left;
    width: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    z-index: 20;
}

/* footer > p   väljer alla p som är child till p, om p har egna child väljs inte dessa */
/* footer p     väljer alla p som är inuti div oavsett */
footer > p {
    color: white;
    text-align: center;
}

/* övrig element */


.div-textbox {
    float: left;
    margin: 3vw;
    overflow: auto;
    height: 25vw;
    width: 40%;
    background-color: rgb(236, 236, 236);
    border: 1px solid lightgrey;
}

/* responsive @media */

@media screen and (max-width: 500px) {
    ul {
        display: block;
        width: 100%;
    }
    .div-textbox {
        float:none;
        width: auto;
    }
}